.Home_btn {
    background-color: #fff;
    color: black;
    border: solid #212121 2px;
    border-radius: 8px;
    padding: 10px 30px;
    text-decoration: none;
    margin-left: 590px;
}

.Youtube_btn {
    background-color: #fff;
    color: black;
    border: 2px solid #212121;
    border-radius: 8px;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
}

h1 {
    background-color: #161616;
    color: #fff;
    text-align: center;
}

